body {
  background-color: blue;
}
a:link {
        position :relative;
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      a:visited{
      color: white;
        background-color: tranparent;
        text-decoration: none;
      }
.bsodtext {
  color: white;
	font-family: monaco,Consolas,Lucida Console,monospace; 
}